.main {
  font-family: var(--font-mono);
  width: 100vw;
  height: 100vh;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(#3e9e64, #92dece)
}

.container {
  height: 90vh;
}

.boites{
  justify-content: center;
  align-items: center;
}

.textInput {
  background-color: rgb(255, 255, 255);
  width: 400px;
  height: 35px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  color: gray;
}

.button {
  margin-left: 10px;
  padding: 10px;
  border: none;
  background-color: rgb(37, 255, 219);
  cursor: pointer;
}

.inputList input {
  display: block;
  margin: 15px;
  justify-content: center;
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gender_label {
  font-family: sans-serif;
  padding-top: 15px;
  padding-right: 10px;
  padding-bottom: 15px;
  padding-left: 30px;
}

.error {
  padding: 4px;
  padding-bottom: 8px;
  color: red;
  font-size: 14px;
}

.topnav {
  top: 0;
  background-color: black;
  overflow: hidden;
  width: 100vw;
  list-style: none;
  justify-content:center;
  display:flex;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center, top;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;}

  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }